<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 <bean id="wishBean" class="myproject.beaninheritance.beans.WishBean">
 	<property name="name" value="Himanshu"></property>
 	<property name="message" value="Have a Great Day"></property>
 </bean>
 <bean id="helloBean" class="myproject.beaninheritance.beans.HelloBean" parent="wishBean">
 	<!-- <property name="name" value="Himanshu"></property>
 	<property name="message" value="Good Morning"></property> -->
 </bean>
 <bean id="welcomeBean" class="myproject.beaninheritance.beans.WelcomeBean" parent="wishBean">
 <!-- <property name="name" value="Himanshu"></property>
 <property name="message" value="Welcome to Spring Program"></property> -->
 </bean>
</beans>